PORT=3000 # Puerto en el que se ejecutará la aplicación (ej: 3000)
DB_HOST=localhost # Host de la base de datos (ej: localhost)
DB_USER=root # Usuario de la base de datos (ej: root). Cambiar por el usuario de la base de datos configurada en el entorno local.
DB_PASSWORD=1234 # Contraseña de la base de datos (ej: 1234). Cambiar por la contraseña de la base de datos configurada en el entorno local.
DB_NAME=banco_is2 # Nombre de la base de datos
DB_PORT=3306 # Puerto de la base de datos (ej: 3306). Cambiar por el puerto de la base de datos configurada en el entorno local.